
  
  #comment-form {
    color: white;
  
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    justify-content: top;
    align-items: top;
  }
  textarea {display: inline;}
  #name{
   height: 20px;
   width: 100%;
  }
#comment{width: 100%;
  min-width: 100%;
  max-width: 100%;
height: 70px;
max-height: 70px;}
  #comment-form label {height: 30px;
    display: inline;
   
  }
  
  #comment-form input[type="text"], #comment-form textarea {
    
    
  }
  
  #comment-form button[type="button"] {   color: white;
    background-color: #201400;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;

   
  }
  
  #comment-form button[type="button"]:hover {   color: white;
    background-color: #201400;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;
  }
  
  #comment-form button[type="button"]:active {   color: white;
    background-color: #201400;
    margin-top: 20px;
    border-radius: 10px;
    width: 150px;

  }
  .comentariodiv{margin: 20px;
    padding-left:20px ;
    padding-top: 10px;
  background-color: white;}
  #comments-container {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    color:black;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }