.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.idade-modal {
    background-image: url(../../assets/images/trabalho3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 160px;
    padding-top: 160px;
    border-radius: 8px;
    text-align: center;
}

.idade-modal button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.idade-modal button:hover {
    background-color: #ddd;
}

#simBtn {
    margin-top: 60px;
    margin-right: 50px;
    background-color: #4CAF50;
    color: white;
}

#naoBtn {
    margin-top: 60px;
    background-color: #f44336;
    color: white;
}

.tituloidade{
    color: white;
}
